<h1>Admin Dashboard</h1>

<div class="content container row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Manage Lists</h5>
                <p class="card-text">Create, edit, or delete your todo lists.</p>
                <a href="/lists" class="btn btn-viewlists-custom">View All Lists</a>
                <a href="/admin/lists/add" class="btn btn-add-task-custom">Add New List</a>
            </div>
        </div>
    </div>
</div>