body {
    padding-top: 56px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    color: #6c757d;
}

.navbar-purple-800 {
    background-color: #5e35b1 !important; /* This is purple-800 */
}